<link rel="stylesheet" href="/stylesheets/add-new-form.css" />
<div class="question-content">
  <div class="title">
    <h1>Create Notification</h1>
  </div>
  <div class="form-container">
    <form
      action="/admin/add-new-notification"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="input-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          required
          placeholder="Enter the title of the Notification"
        />
      </div>
      <div class="input-group">
        <label for="content">Content</label>
        <input
          type="text"
          name="content"
          id="content"
          required
          placeholder="Enter the content"
        />
      </div>

      <div class="btn-group">
        <input type="submit" class="btn-submit" value="Submit" />
        <input type="reset" class="btn-reset" value="Reset" />
      </div>
    </form>
  </div>
</div>