<div class="cards">
  <div class="card">
    <div class="box">
      <h1>{{counts.forms}}</h1>
      <h3>Forms</h3>
    </div>
    <div class="icon-case">
      <i class="fab fa-wpforms"></i>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <h1>{{counts.photos}}</h1>
      <h3>Photos</h3>
    </div>
    <div class="icon-case">
      <i class="far fa-images"></i>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <h1>{{counts.questions}}</h1>
      <h3>Question papers</h3>
    </div>
    <div class="icon-case">
      <i class="fas fa-file-contract"></i>
    </div>
  </div>
</div>